---
- job:
    name: update_jobs
    display-name: Update Jobs JJB
    concurrent: false
    wrappers:
      - ansicolor:
          colormap: xterm
    builders:
      - shell: "rm -rfv /etc/jenkins_jobs/config/*; cp -rfv ./jenkins/* /etc/jenkins_jobs/config/"
      - shell: "jenkins-jobs update -r ./jenkins/."
    # triggers:
    #   - pollscm:
    #       cron: "* * * * *"
    # scm:
    #   - ansible_custom
    # publishers:
    #   - slack:
    #       notify-aborted: true
    #       notify-not-build: true
    #       notify-unstable: true
    #       notify-failure: true
    #       notify-repeated-failure: true
    #       notify-regression: true
    #       include-failed-tests: true
