---
- job:
    name: Huawei LTE band 1800+2100
    project-type: pipeline
    sandbox: true
    dsl-yaml: |
      pipeline:
        agent:
          any:
        options:
          - ansiColor('xterm')
          - disableConcurrentBuilds()
          - skipDefaultCheckout()
        triggers:
          - cron('0 8 * * *')
        parameters:
          - >-
            string(
              name: "BRANCH_ANSIBLE_OPS_WORKSTATION",
              defaultValue: "f37",
              trim: true,
              description: "Branch name repo: ansible-ops-workstation"
            )
          - >-
            string(
              name: "BRANCH_ANSIBLE_OPS_PRIVATE",
              defaultValue: "feature/servers_v2",
              trim: true,
              description: "Branch name repo: ansible-ops-private"
            )
        stages:
          - stage: "Checkout ansible-ops-workstation"
            steps:
              script:
                - dir: "'ansible-ops-workstation'"
                  script:
                    - >-
                      git(
                        url: "git@github.com:mikeeq/ansible-ops-workstation.git",
                        branch: "$params.BRANCH_ANSIBLE_OPS_WORKSTATION"
                      )
          - stage: "Checkout ansible-ops-private"
            steps:
              script:
                - dir: "'ansible-ops-private'"
                  script:
                    - >-
                      git(
                        url: "git@github.com:mikeeq/ansible-ops-private.git",
                        branch: "$params.BRANCH_ANSIBLE_OPS_PRIVATE"
                      )
          - stage: "Unlock git-crypt"
            steps:
              script:
                - dir: "'ansible-ops-private'"
                  script:
                    - |
                      sh """#!/bin/bash
                        id
                        pwd
                        ls
                        git-crypt unlock ~jenkins/secrets/git_crypt_key
                      """
          - stage: "Ansible"
            steps:
              script:
                  - |
                    sh """#!/bin/bash
                      cd ansible-ops-workstation/playbooks
                      ansible-playbook -i ../../ansible-ops-private/inventory/hosts.yml huawei-lte-setband-1800+2100.yml
                    """
