---
- job:
    name: Huawei LTE band 1800+2100
    project-type: pipeline
    sandbox: true
    triggers:
      - timed: '0 8 * * *'
    parameters:
      - string:
          name: "BRANCH_ANSIBLE_OPS_WORKSTATION"
          default: "main"
          trim: true
          description: "Branch name repo: ansible-ops-workstation"
      - string:
          name: "BRANCH_ANSIBLE_OPS_PRIVATE"
          default: "main"
          trim: true
          description: "Branch name repo: ansible-ops-private"
      - bool:
          name: DYNAMIC_SQM_ENABLED
          default: true
          description: "Enable dynamic SQM on OpenWRT"
      - choice:
          name: HUAWEI_LTE_BAND
          choices:
            - "5"
            - "7FFFFFFFFFFFFFFF"
            - "80005"
            - "80000"
            - "4"
            - "1"
          description: "LTE Band: 1800+2100, all, 800+1800+2100, 800, 1800, 2100"
    dsl-yaml: |
      pipeline:
        agent:
          any:
        options:
          - ansiColor('xterm')
          - disableConcurrentBuilds()
          - skipDefaultCheckout()
        stages:
          - stage: "Checkout ansible-ops-workstation"
            steps:
              script:
                - dir: "'ansible-ops-workstation'"
                  script:
                    - >-
                      git(
                        url: "git@github.com:mikeeq/ansible-ops-workstation.git",
                        branch: "$params.BRANCH_ANSIBLE_OPS_WORKSTATION"
                      )
          - stage: "Checkout ansible-ops-private"
            steps:
              script:
                - dir: "'ansible-ops-private'"
                  script:
                    - >-
                      git(
                        url: "git@github.com:mikeeq/ansible-ops-private.git",
                        branch: "$params.BRANCH_ANSIBLE_OPS_PRIVATE"
                      )
          - stage: "Unlock git-crypt"
            steps:
              script:
                - dir: "'ansible-ops-private'"
                  script:
                    - |
                      sh """#!/bin/bash
                        id
                        pwd
                        ls
                        git-crypt unlock ~jenkins/secrets/git_crypt_key
                      """
          - stage: "Ansible LTE Band set"
            steps:
              script:
                  - |
                    sh """#!/bin/bash
                      cd ansible-ops-workstation/playbooks
                      ansible-playbook -e huawei_lteband="5" -i ../../ansible-ops-private/inventory/hosts.yml huawei-lte-setband.yml
                    """
          - stage: "Ansible SQM disable"
            steps:
              script:
                  - |
                    sh """#!/bin/bash
                      cd ansible-ops-workstation/playbooks
                      ansible-playbook -e dynamic_sqm_enabled=$params.DYNAMIC_SQM_ENABLED -i ../../ansible-ops-private/inventory/hosts.yml openwrt-sqm.yml
                    """
