---
- name: Import repo key
  rpm_key:
    state: present
    key: https://packages.microsoft.com/keys/microsoft.asc

- name: Azure-cli repo
  ansible.builtin.copy:
    content: |
      [azure-cli]
      name=Azure CLI
      baseurl=https://packages.microsoft.com/yumrepos/azure-cli
      enabled=1
      gpgcheck=1
      gpgkey=https://packages.microsoft.com/keys/microsoft.asc
    dest: /etc/yum.repos.d/azure-cli.repo
    mode: 0644

- name: Azure-cli
  ansible.builtin.package:
    name: "azure-cli"
    state: present
