---
- name: Install dependencies
  package:
    name: "xorg-x11-server-Xephyr"
    state: present

- name: Get installed version
  become: true
  become_user: "{{ user_name }}"
  shell: x11docker -v | awk '{print $3}'
  register: installed_x11docker_version
  changed_when: false
  ignore_errors: true
  args:
    warn: off

- name: "Installed version of x11docker:"
  debug:
    var: installed_x11docker_version.stdout

- include_tasks: get_latest_version.yml
  when: x11docker_version is not defined

- include_tasks: install.yml
  when: installed_x11docker_version.stdout != x11docker_version
