---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
      - id: end-of-file-fixer
        exclude: "zabbix_agent_custom_who.pp"
      - id: check-yaml
        exclude: (^|/)templates/.*\.ya?ml$|^roles/servers/apps/home-assistant/files/config/.*\.ya?ml$
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
        exclude: roles/apps/openvpn-client/files/client.ovpn
      - id: check-executables-have-shebangs
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: yamllint
        description: This hook runs yamllint.
        entry: yamllint
        language: python
        types:
          - file
          - yaml
        # exclude: '(^|/)templates/.*\.ya?ml$'
  # - repo: https://github.com/lyz-code/yamlfix
  #   rev: 1.16.1
  #   hooks:
  #     - id: yamlfix
  #       name: yamlfix
  #       entry: yamlfix
  #       language: python
  #       language_version: python3
  #       types:
  #         - yaml
  #       exclude: (^|/)templates/.*\.ya?ml$
  #       args:
  #         - -c .yamlfix.toml
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.27.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/ansible/ansible-lint
    rev: v25.6.1
    hooks:
      - id: ansible-lint

  # - repo: https://github.com/koalaman/shellcheck-precommit
  #   rev: v0.10.0
  #   hooks:
  #     - id: shellcheck
  - repo: local
    hooks:
      - id: convert-yml-to-yaml
        name: Convert .yml files to .yaml
        entry: scripts/convert_yml_to_yaml.sh
        language: system
        files: \.yml$
