---
extends: default
rules:
  line-length: disable
  comments-indentation: disable
  # truthy: disable
  document-start:
    level: error
ignore:
  - templates/
  - '*/templates/'
  - '**/templates/'
  - '**/templates/*'
  - '**/templates/**'
