[defaults]
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
roles_path = ./collections/ansible_collections/mikeeq/apps/roles:./collections/ansible_collections/mikeeq/apps_desktop/roles:./collections/ansible_collections/mikeeq/apps_server/roles:./collections/ansible_collections/mikeeq/servers/roles:./collections/ansible_collections/mikeeq/machines/roles:./collections/ansible_collections/mikeeq/utils/roles
