---
- name: Get latest version of trivy
  ansible.builtin.shell: curl -Is https://github.com/aquasecurity/trivy/releases/latest | grep -i 'location:' | cut -f3 -d'v' | cut -f1 -d'"'
  register: version
  changed_when: false

- name: "Latest version of trivy:"
  debug:
    var: version.stdout

- name: "Set fact with latest version of trivy"
  set_fact:
    trivy_version: "{{ version.stdout }}"
