---
- name: Disabling selinux
  ansible.builtin.lineinfile:
    path: /etc/selinux/config
    regexp: '^SELINUX='
    line: 'SELINUX=permissive'

# - name: Reboot the machine
#   ansible.builtin.shell: nohup bash -c "sleep 2s && shutdown -r now" &
#   when: selinux_dis.changed

# - name: Wait for machine to come back
#   wait_for_connection:
#     timeout: 240
#     delay: 20
#   when: selinux_dis.changed
