---
- name: Install deps
  dnf:
    name: libxcrypt-compat
    state: present

- ansible.builtin.include_tasks: "install_{{ ansible_architecture }}.yaml"

- import_tasks: get_plugins_version.yaml

- name: Install vagrant plugins
  become: true
  become_user: "{{ user_name }}"
  shell: CONFIGURE_ARGS='with-ldflags=-L/opt/vagrant/embedded/lib with-libvirt-include=/usr/include/libvirt with-libvirt-lib=/usr/lib' GEM_HOME=~/.vagrant.d/gems GEM_PATH=$GEM_HOME:/opt/vagrant/embedded/gems PATH=/opt/vagrant/embedded/bin:$PATH vagrant plugin install {{ item.name }}
  loop: "{{ vagrant_plugins_info }}"
  loop_control:
    label: "{{ item.name }}"
  when: item.version != item.latestVersion or vagrant_plugins_reinstall == true
  # register: vagrant_libvirt_output
  # changed_when: vagrant_libvirt_output.stdout_lines[2] is defined

# - name: Install vagrant embedded plugins
#   become: true
#   become_user: "{{ user_name }}"
#   shell: vagrant plugin install {{ item }}
#   register: vagrant_libvirt_output
#   changed_when: vagrant_libvirt_output.stdout_lines[2] is defined
#   when: latest_vagrant_embedded_plugins_version.results[{{ item.index }}].stdout != installed_vagrant_embedded_plugins_version.results[{{ item.index }}].stdout
#   loop: "{{ vagrant_embedded_plugins }}"
