---
# https://releases.hashicorp.com/vagrant/2.1.1/vagrant_2.1.1_x86_64.rpm
# CONFIGURE_ARGS="with-libvirt-include=/usr/include/libvirt  --with-libvirt-lib=/usr/lib64/libvirt" vagrant plugin install vagrant-libvirt
# CONFIGURE_ARGS="with-libvirt-include=/usr/include/libvirt  --with-libvirt-lib=/usr/lib" vagrant plugin install vagrant-libvirt
# CONFIGURE_ARGS='with-ldflags=-L/opt/vagrant/embedded/lib with-libvirt-include=/usr/include/libvirt with-libvirt-lib=/usr/lib' GEM_HOME=~/.vagrant.d/gems GEM_PATH=$GEM_HOME:/opt/vagrant/embedded/gems PATH=/opt/vagrant/embedded/bin:$PATH vagrant plugin install vagrant-libvirt
# dnf install libxslt-devel libxml2-devel libvirt-devel libguestfs-tools-c ruby-devel gcc
# dnf -y install qemu libvirt libvirt-devel ruby-devel gcc qemu-kvm
# export VAGRANT_DEFAULT_PROVIDER=libvirt
# Add to libvirt group
# https://github.com/vagrant-libvirt/vagrant-libvirt

# Fix for Fedora 30:
# ruby: error while loading shared libraries: libcrypt.so.1: cannot open shared object file: No such file or directory

- name: Get installed version
  shell: vagrant --version | awk '{print $2}'
  register: installed_vagrant_version
  changed_when: false
  ignore_errors: true

- name: "Installed version of vagrant:"
  debug:
    var: installed_vagrant_version.stdout

- include_tasks: get_latest_version.yaml
  when: vagrant_version is not defined

- debug:
    var: vagrant_version

# name: "https://releases.hashicorp.com/vagrant/{{ vagrant_version }}/vagrant_{{ vagrant_version}}_x86_64.rpm"
- name: Install vagrant from hashicorp repo
  dnf:
    name: "https://releases.hashicorp.com/vagrant/{{ vagrant_version }}/vagrant-{{ vagrant_version }}-1.x86_64.rpm"
    state: latest
    disable_gpg_check: true
  when: installed_vagrant_version.stdout != vagrant_version
