---
# https://releases.hashicorp.com/vagrant/2.1.1/vagrant_2.1.1_x86_64.rpm
# CONFIGURE_ARGS="with-libvirt-include=/usr/include/libvirt  --with-libvirt-lib=/usr/lib64/libvirt" vagrant plugin install vagrant-libvirt
# CONFIGURE_ARGS="with-libvirt-include=/usr/include/libvirt  --with-libvirt-lib=/usr/lib" vagrant plugin install vagrant-libvirt
# CONFIGURE_ARGS='with-ldflags=-L/opt/vagrant/embedded/lib with-libvirt-include=/usr/include/libvirt with-libvirt-lib=/usr/lib' GEM_HOME=~/.vagrant.d/gems GEM_PATH=$GEM_HOME:/opt/vagrant/embedded/gems PATH=/opt/vagrant/embedded/bin:$PATH vagrant plugin install vagrant-libvirt
# dnf install libxslt-devel libxml2-devel libvirt-devel libguestfs-tools-c ruby-devel gcc
# dnf -y install qemu libvirt libvirt-devel ruby-devel gcc qemu-kvm
# export VAGRANT_DEFAULT_PROVIDER=libvirt
# Add to libvirt group
# https://github.com/vagrant-libvirt/vagrant-libvirt

# Fix for Fedora 30:
# ruby: error while loading shared libraries: libcrypt.so.1: cannot open shared object file: No such file or directory

- name: Install deps
  dnf:
    name: libxcrypt-compat
    state: present

- name: Get installed version
  shell: vagrant --version | awk '{print $2}'
  register: installed_vagrant_version
  changed_when: false
  ignore_errors: true

- name: "Installed version of vagrant:"
  debug:
    var: installed_vagrant_version.stdout

- include_tasks: get_latest_version.yml
  when: vagrant_version is not defined

# name: "https://releases.hashicorp.com/vagrant/{{ version.stdout }}/vagrant_{{ version.stdout }}_x86_64.rpm"
- name: Install vagrant from hashcorp repo
  dnf:
    name: "https://releases.hashicorp.com/vagrant/{{ version.stdout }}/vagrant-{{ version.stdout }}-1.x86_64.rpm"
    state: latest
    disable_gpg_check: true
  when: installed_vagrant_version.stdout != vagrant_version

# - import_tasks: get_plugins_version.yml

# - name: Install vagrant-libvirt plugin
#   become: true
#   become_user: "{{ user_name }}"
#   shell: CONFIGURE_ARGS='with-ldflags=-L/opt/vagrant/embedded/lib with-libvirt-include=/usr/include/libvirt with-libvirt-lib=/usr/lib' GEM_HOME=~/.vagrant.d/gems GEM_PATH=$GEM_HOME:/opt/vagrant/embedded/gems PATH=/opt/vagrant/embedded/bin:$PATH vagrant plugin install vagrant-libvirt
#   register: vagrant_libvirt_output
#   changed_when: vagrant_libvirt_output.stdout_lines[2] is defined

# - name: Install vagrant embedded plugins
#   become: true
#   become_user: "{{ user_name }}"
#   shell: vagrant plugin install {{ item }}
#   register: vagrant_libvirt_output
#   changed_when: vagrant_libvirt_output.stdout_lines[2] is defined
#   when: latest_vagrant_embedded_plugins_version.results[{{ item.index }}].stdout != installed_vagrant_embedded_plugins_version.results[{{ item.index }}].stdout
#   loop: "{{ vagrant_embedded_plugins }}"

# # - name: Install vagrant from fedora repo
# #   dnf:
# #     name: "{{ pkgs }}"
# #     state: latest
# #   vars:
# #     pkgs:
# #       - vagrant
# #       - vagrant-libvirt
