---
# - name: Ensure jjb dir is cleaned
#   file:
#     path: "{{ jenkins_home }}/jjb/jobs/"
#     state: absent

- name: Ensure jjb dir exists
  file:
    path: "{{ jenkins_home }}/jjb/jobs/"
    owner: "{{ jenkins_uid }}"
    group: "{{ jenkins_gid }}"
    state: directory

- name: Configure jjb
  template:
    src: "jjb/config.ini"
    dest: "{{ jenkins_home }}/jjb/config.ini"
    owner: "{{ jenkins_uid }}"
    group: "{{ jenkins_gid }}"
    mode: 0664

- name: Add JJB jobs
  template:
    src: "{{ item }}"
    dest: "{{ jenkins_home }}/jjb/jobs/"
    owner: "{{ jenkins_uid }}"
    group: "{{ jenkins_gid }}"
  with_fileglob:
    - ../templates/jjb/jobs/*
  register: jenkins_jjb_copy

- name: Run jjb in Docker image
  shell: |
    docker-compose exec jenkins /bin/bash -c "cd /var/jenkins_home/jjb && jenkins-jobs --conf ./config.ini update -r ./jobs/"
  changed_when: build_result.stderr_lines | length > 2
  register: build_result
  # when: jenkins_jjb_copy.changed
  args:
    chdir: "{{ jenkins_install_path }}"
