---
- name: Check docker-compose executable is present
  shell: "which docker-compose"
  register: docker_compose_result
  ignore_errors: true
  changed_when: false

- name: Fail when docker-compose is not installed
  fail:
    msg: "docker-compose is not found! You need to install it first."
  when: docker_compose_result.rc != 0

- include_tasks: cleanup.yml
  when: jenkins_cleanup

- import_tasks: config.yml
- import_tasks: install-docker-compose.yml

# - name: Restart Jenkins using docker-compose
#   command: docker-compose restart
#   args:
#     chdir: "{{ jenkins_install_path }}"
#   when: jenkins_config_file.changed

- name: Wait for jenkins to be fully up
  include_tasks: api-token.yml
  vars:
    jenkins_crumb_admin_username: "{{ jenkins_admin_username }}"
    jenkins_crumb_admin_password: "{{ jenkins_admin_password }}"

- name: Reload Jenkins Configuration As Code
  uri:
    method: POST
    url: '{{ jenkins_url }}/configuration-as-code/reload'
    user: "{{ jenkins_admin_username }}"
    password: "{{ jenkins_admin_password }}"
    force_basic_auth: true
    follow_redirects: all
    return_content: true
    headers:
      Jenkins-Crumb: '{{ crumb.content.split(":")[1] }}'
      Cookie: '{{ crumb.set_cookie }}'
    body: 'Submit'
  when: jenkins_config_file.changed
  register: casc
  changed_when: casc.status == 200

# Replaced by configuration-as-code
# - import_tasks: users-add.yml
# - import_tasks: users-delete.yml

- import_tasks: jjb.yml
  tags:
    - jjb
