---
- name: Build Jenkins Docker image
  ansible.builtin.shell: |
    docker-compose build --pull --build-arg DOCKER_GID=$(cat /etc/group | grep docker | awk -F\: '{print $3}')
  changed_when: build_result.stderr_lines | length > 2
  register: build_result
  args:
    chdir: "{{ jenkins_install_path }}"
