config dnsmasq
        option domainneeded '1'
        option localise_queries '1'
        option rebind_protection '1'
        option rebind_localhost '1'
        option local '/lan/'
        option domain 'lan'
        option expandhosts '1'
        option cachesize '1000'
        option authoritative '1'
        option readethers '1'
        option leasefile '/tmp/dhcp.leases'
        option resolvfile '/tmp/resolv.conf.d/resolv.conf.auto'
        option localservice '1'
        option ednspacket_max '1232'

config dhcp 'lan'
        option interface 'lan'
        option start '200'
        option limit '240'
        option leasetime '12h'
        option dhcpv4 'server'
        list ra_flags 'managed-config'
        list ra_flags 'other-config'
        list dhcp_option '6,8.8.8.8'
        {# list dhcp_option '6,192.168.4.22' #}
        {# option dhcpv6 'server' #}
        {# option ra 'server' #}
        {# list dhcp_option '6,8.8.8.8,8.8.4.4' #}
        {# list dhcp_option '3,192.168.4.5' #}

config dhcp 'wan'
        option interface 'wan'
        option ignore '1'

config odhcpd 'odhcpd'
        option maindhcp '0'
        option leasefile '/tmp/hosts/odhcpd'
        option leasetrigger '/usr/sbin/odhcpd-update'
        option loglevel '4'

config tag 'private'
        list dhcp_option '3,192.168.4.5'

{% for i in dhcp %}
config host
        option name '{{ i.hostname }}'
        option ip '{{ i.ip }}'
        list mac '{{ i.mac }}'
        option leasetime '12h'
{% for y in i.tags|default() %}
        list tag '{{ y }}'
{% endfor %}

{% endfor %}

{# config host
        option name 'device1'
        option mac '00:21:63:75:aa:17'
        option ip '192.168.1.10'
        option tag 'tag1' #}
