---
{% for i in home_assistant.mqtt.sonoff.door %}
- name: door_state_{{ i.name }}
  state_topic: "tele/{{ home_assistant.mqtt.zigbee_coordinator_base_topic }}/{{ i.name }}/SENSOR"
  value_template: >
    {% raw %}{{ value_json['ZbReceived']{% endraw %}['0x{{ i.name }}']['ZoneStatusChange'] }}
  payload_on: 1
  payload_off: 0
  availability_topic: "tele/{{ home_assistant.mqtt.zigbee_coordinator_base_topic }}/LWT"
  payload_available: "Online"
  payload_not_available: "Offline"
  qos: 0
  device_class: "door"
{% endfor %}
