---
- name: Check installed
  shell: dnf list --installed | grep keybase
  register: keybase_installed
  changed_when: false
  ignore_errors: true
  args:
    warn: off

- name: Install keybase
  dnf:
    name: 'https://prerelease.keybase.io/keybase_amd64.rpm'
    state: present
  when: keybase_installed.rc != 0

- name: Run keybase
  shell: run_keybase
  args:
    creates: /keybase

# yum install https://prerelease.keybase.io/keybase_amd64.rpm
# run_keybase

