---
- name: Set vars
  set_fact:
    vm_disk_path: "{{ libvirt_images_dir }}/{{ vm.name }}.qcow2"

- name: Destroy the domain with XML specification
  virt:
    name: "{{ vm.name }}"
    ansible.builtin.command: destroy
  ignore_errors: true

- name: Remove storage
  file:
    path: "{{ vm_disk_path }}"
    state: absent
