---
- name: "Create directories"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: qemu
    group: qemu
  loop:
    - "{{ cloud_init_src_dir }}"
    - "{{ cloud_init_iso_dir }}"

- name: "Download {{ cloud_image_name }}"
  ansible.builtin.get_url:
    url: "{{ cloud_image_url }}"
    dest: "{{ libvirt_images_dir }}/{{ cloud_image_name }}"
    mode: '0600'
    owner: qemu
    group: qemu
    checksum: "{{ cloud_image_checksum }}"

- name: "Install genisoimage"
  ansible.builtin.package:
    name: genisoimage
    state: present

- name: "Install pip passlib"
  ansible.builtin.pip:
    name: passlib
    state: present
