# https://circleci.com/blog/how-to-build-a-docker-image-on-circleci-2-0/
# https://circleci.com/docs/configuration-reference/#resourceclass
# https://circleci.com/developer/images?imageType=machine
---
version: 2.1
jobs:
  build-fedora-arm64:
    machine:
      image: ubuntu-2204:2024.05.1
    resource_class: arm.medium
    steps:
      - checkout
      # - setup_remote_docker:
      #     docker_layer_caching: true
      - run:
          name: Run tests
          command: |
            uname -a; free -m; docker --version

      - run:
          name: "Runner storage cleanup"
          command: |
            ./.github/cleanup-runner.sh

      - run:
          name: "Build fedora-systemd image..."
          command: |
            docker build -t fedora_systemd:latest .

      - run:
          name: "Run Ansible in Docker..."
          command: |
            scripts/run_ansible_in_docker.sh
