# https://docs.docker.com/compose/compose-file/compose-file-v3/
---
version: '3.8'
services:
  coredns:
    image: coredns/coredns
    container_name: coredns
    restart: always # other option: always - if you want persistent through host reboots
    expose:
      - '53'
      - '53/udp'
      - '9153'
    ports:
      - '53:53'
      - '53:53/udp'
      - '9153:9153'
    volumes:
      - './config:/etc/coredns'
    command: ["-conf", "/etc/coredns/Corefile"]
    logging:
      driver: "json-file"
      options:
        max-size: "250m"
