---
- name: Get latest version
  ansible.builtin.shell: curl -Ls https://releases.hashicorp.com/packer/ | grep packer | grep -v alpha | grep -v beta | cut -d'_' -f2 | cut -d'<' -f1 | head -n1
  register: version
  changed_when: false

- name: "Latest version of packer:"
  debug:
    var: version.stdout

- name: "Set fact with latest version of packer"
  ansible.builtin.set_fact:
    packer_version: "{{ version.stdout }}"
