---
- name: Get installed version
  shell: packer --version | awk '{print $2}' | cut -d'v' -f2
  register: installed_packer_version
  changed_when: false
  ignore_errors: true

- name: "Installed version of packer:"
  debug:
    var: installed_packer_version.stdout

- include_tasks: get_latest_version.yaml
  when: packer_version is not defined

- include_tasks: install.yaml
  when: installed_packer_version.stdout != packer_version
