---
- name: Setup google-chrome yum repo
  ansible.builtin.copy:
    src: google-chrome.repo
    dest: /etc/yum.repos.d/google-chrome.repo
    owner: "root"
    group: "root"
    mode: 0644

- name: Install chrome
  ansible.builtin.dnf:
    name: "google-chrome-stable"
    state: present
