---
# - sensor:
#   - name: meteo_url
#     state: >-
#       {% if now().hour >= 0 and now().hour < 10 -%}
#       https://www.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate={{ (now() - timedelta( days = 1 )).strftime('%Y%m%d') }}18&row=466&col=232&lang=pl
#       {%- elif now().hour >= 10 and now().hour < 12 -%}
#       https://www.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate={{ now().strftime('%Y%m%d') }}00&row=466&col=232&lang=pl
#       {%- elif now().hour >= 12 and now().hour < 19 -%}
#       https://www.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate={{ now().strftime('%Y%m%d') }}06&row=466&col=232&lang=pl
#       {%- elif now().hour >= 19 and now().hour < 24 -%}
#       https://www.meteo.pl/um/metco/mgram_pict.php?ntype=0u&fdate={{ now().strftime('%Y%m%d') }}12&row=466&col=232&lang=pl
#       {%- endif %}

- sensor:
# yamllint disable-line rule:indentation
  - name: current_state_ch
    state: >
      {% if states('sensor.opentherm_opentherm_slave_dhw') == "1" %}
        Water
      {% elif states('sensor.opentherm_opentherm_slave_ch') == "1" %}
        CH
      {% else %}
        Idle
      {% endif %}

  - name: open_meteo_temperature
    state: >
      {{ state_attr('weather.open_meteo', 'temperature') }}S

  - name: climate_switches_on_count
    state: >
      {{ expand('switch.group_ogrzewanie_podlogowe')
      | selectattr('state', 'eq', 'on') | list | count }}
