---
- name: Download hadolint binary
  ansible.builtin.get_url:
    url: "https://github.com/hadolint/hadolint/releases/download/v{{ hadolint_version }}/hadolint-Linux-{{ hadolint_architecture_name }}"
    dest: "/usr/local/bin/hadolint"
    mode: "0755"
    owner: root
    group: root
