---
- name: Get installed version of hadolint
  become: true
  become_user: "{{ user_name }}"
  shell: hadolint -v | awk '{print $4}' | cut -d'-' -f1 | cut -d'v' -f2
  register: installed_hadolint_version
  changed_when: false
  ignore_errors: true

- include_vars: x86_64.yml
  when: ansible_architecture == "x86_64"

- include_vars: arm64.yml
  when: ansible_architecture == "aarch64"

- name: "Installed version of hadolint:"
  debug:
    var: installed_hadolint_version.stdout

- include_tasks: get_latest_version.yml
  when: hadolint_version is not defined

- include_tasks: install.yml
  when: installed_hadolint_version.stdout != hadolint_version
