#change with your port
port 443

#You can use udp or tcp
proto tcp

# "dev tun" will create a routed IP tunnel.
dev tun

#Certificate Configuration
tls-auth {{ ssl_path }}/tls.key 0

#ca certificate
ca {{ ssl_path }}/ca.crt

#Server Certificate
cert {{ ssl_path }}/server.crt

#Server Key and keep this is secret
key {{ ssl_path }}/server.pem

#See the size a dh key in /etc/openvpn/keys/
dh {{ ssl_path }}/dhparams.pem

#Internal IP will get when already connect
server 10.69.0.0 255.255.255.0

#this line will redirect all traffic through our OpenVPN
push "redirect-gateway def1"

#Provide DNS servers to the client, you can use goolge DNS
push "dhcp-option DNS 8.8.8.8"
push "dhcp-option DNS 8.8.4.4"

#Enable multiple client to connect with same key
duplicate-cn

client-to-client
keepalive 20 60
# comp-lzo
persist-key
persist-tun
daemon

#enable log
log-append /var/log/openvpn.log

#Log Level
verb 3
