---
- name: Generate DH Parameters with a different size (2048 bits)
  community.crypto.openssl_dhparam:
    path: "{{ install_path }}/config/dhparam.pem"
    size: 2048

- name: Create directories for certs
  ansible.builtin.file:
    path: "{{ certs_path }}/{{ item }}"
    state: directory
  loop: "{{ certs | map(attribute='cn')}}"

- name: Copy certs
  ansible.builtin.copy:
    src: "{{ certs_path }}/{{ item.0 }}/{{ item.1 }}"
    dest: "{{ certs_path }}/{{ item.0 }}/{{ item.1 }}"
    owner: root
    group: root
    mode: '0644'
  with_nested:
    - "{{ certs | map(attribute='cn')}}"
    - ['cert.key', 'cert.crt', 'cert.fullchain']
  register: cert_flag
