---
- name: Get latest version of kail
  ansible.builtin.shell: curl -Is https://github.com/boz/kail/releases/latest | grep -i 'location:' | cut -f2 -d'v' | cut -f1 -d'"'
  register: version
  changed_when: false

- name: "Latest version of kail:"
  debug:
    var: version.stdout

- name: "Set fact with latest version of kail"
  ansible.builtin.set_fact:
    kail_version: "{{ version.stdout }}"
