---
- name: Directory for kail
  ansible.builtin.file:
    path: /tmp/kail
    state: directory

- name: Download kail binary
  get_url:
    url: "https://github.com/boz/kail/releases/download/v{{ kail_version }}/kail_v{{ kail_version }}_linux_{{ architecture_common_name }}.tar.gz"
    dest: /tmp/kail/kail.tar.gz

- name: Unarchive a file that is already on the remote machine
  unarchive:
    src: /tmp/kail/kail.tar.gz
    dest: /tmp/kail
    remote_src: true

- name: Copy kail
  copy:
    src: "/tmp/kail/kail"
    dest: "/usr/local/bin/kail"
    remote_src: true
    mode: 0755
    owner: root
    group: root
