---
- name: Get installed version
  become: true
  become_user: "{{ user_name }}"
  ansible.builtin.shell: kail version | awk '{print $1}' | cut -d'v' -f2
  register: installed_kail_version
  changed_when: false
  ignore_errors: true

- name: "Installed version of kail:"
  debug:
    var: installed_kail_version.stdout

- ansible.builtin.include_tasks: get_latest_version.yaml
  when: kail_version is not defined

- ansible.builtin.include_tasks: install.yaml
  when: installed_kail_version.stdout != kail_version
