---
- name: Ensure install dir exists
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ install_path }}"
    - "{{ install_path }}/config"

- name: Configure docker-compose file
  become: true
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "{{ install_path }}/{{ item }}"
    mode: "0664"
  loop:
    - docker-compose.yaml
    - config/Corefile

- ansible.builtin.import_tasks: config.yaml

- name: Pull Docker image using docker-compose
  become: true
  ansible.builtin.command: docker-compose pull
  changed_when: pull_result.stderr_lines | length > 2
  register: pull_result
  args:
    chdir: "{{ install_path }}"

- name: Run using docker-compose
  become: true
  ansible.builtin.command: docker-compose up -d
  changed_when: up_result.stderr_lines | length > 2
  register: up_result
  args:
    chdir: "{{ install_path }}"
