---
# TODO: Fix renaming nic to eth
version: 2
ethernets:
  eth0:
    match:
      name: enp1*
    set-name: eth0
    dhcp4: false
    addresses:
{% for ip in vm.ipv4_addresses %}
      - {{ ip }}
{% endfor %}
    routes:
      - to: 0.0.0.0/0
        via: {{ vm.gateway4 }}
    nameservers:
      addresses:
{% for dns_ip in vm.dns_servers %}
        - {{ dns_ip }}
{% endfor %}
    dhcp6: false
