---
- name: Create directory for SERVER certs
  ansible.builtin.file:
    path: "{{ openvpn_server_cert_path }}"
    state: directory

- name: Generating SERVER private key
  openssl_privatekey:
    path: "{{ openvpn_server_cert_path }}/server.pem"

- name: Generating SERVER CSR
  openssl_csr:
    path: "{{ openvpn_server_cert_path }}/server.csr"
    privatekey_path: "{{ openvpn_server_cert_path }}/server.pem"
    basic_constraints_critical: true
    basic_constraints: CA:FALSE
    key_usage_critical: true
    key_usage:
      - nonRepudiation
      - digitalSignature
      - keyEncipherment
      - keyAgreement
    extended_key_usage_critical: true
    extended_key_usage: serverAuth
    common_name: "{{ openvpn_certs_common_name }}"

- name: Generate SERVER certificate
  openssl_certificate:
    path: "{{ openvpn_server_cert_path }}/server.crt"
    privatekey_path: "{{ openvpn_server_cert_path }}/server.pem"
    csr_path: "{{ openvpn_server_cert_path }}/server.csr"
    provider: ownca
    ownca_path: "{{ openvpn_ca_cert_path }}/ca.crt"
    ownca_privatekey_path: "{{ openvpn_ca_cert_path }}/ca.pem"
