---
- name: Directory for krew
  file:
    path: /tmp/krew
    state: directory

- name: Download krew binary
  get_url:
    url: "https://github.com/kubernetes-sigs/krew/releases/download/v{{ krew_version }}/krew-linux_{{ architecture_common_name }}.tar.gz"
    dest: /tmp/krew/krew.tar.gz

- name: Download krew config
  get_url:
    url: "https://github.com/kubernetes-sigs/krew/releases/download/v{{ krew_version }}/krew.yaml"
    dest: /tmp/krew/krew.yaml

- name: Unarchive a file that is already on the remote machine
  unarchive:
    src: /tmp/krew/krew.tar.gz
    dest: /tmp/krew
    remote_src: yes

- name: change permissions krew
  file:
    path: /tmp/krew
    state: directory
    recurse: true
    owner: "{{ user_name }}"

- name: Create directories for krew
  file:
    path: "~{{ user_name }}/{{ item }}"
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    state: directory
  loop:
    - ".kube"
    - ".krew"

- name: Install krew
  become: true
  become_user: "{{ user_name }}"
  shell: /tmp/krew/krew-linux_{{ package_name }} install krew
  args:
    chdir: /tmp/krew
