---
- name: Ensure install dir exists
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ install_path }}"

- name: Configure docker-compose file
  template:
    src: "{{ item }}"
    dest: "{{ install_path }}/{{ item }}"
    mode: 0664
    backup: true
  loop:
    - docker-compose.yaml

- name: Configure config file
  template:
    src: "{{ frigate_templates_path }}/{{ item }}"
    dest: "{{ install_path }}/{{ item }}"
    mode: 0664
    backup: true
  notify:
    - restart_docker_compose
  loop:
    - config.yaml

# - ansible.builtin.import_tasks: config.yaml

- name: Pull Docker image using docker-compose
  command: docker-compose pull
  changed_when: pull_result.stderr_lines | length > 2
  register: pull_result
  args:
    chdir: "{{ install_path }}"

- name: Run using docker-compose
  command: docker-compose up -d
  changed_when: up_result.stderr_lines | length > 2
  register: up_result
  args:
    chdir: "{{ install_path }}"
