---
- name: Check docker-compose executable is present
  shell: "which docker-compose"
  register: docker_compose_result
  ignore_errors: true
  changed_when: false

- fail:
    msg: "docker-compose is not found! You need to install it first."
  when: docker_compose_result.rc != 0

- include_tasks: cleanup.yml
  when: frigate_clean

- import_tasks: install.yml
