---
- name: Get latest version dive
  ansible.builtin.shell: curl -Is https://github.com/wagoodman/dive/releases/latest | grep -i 'location:' | cut -f3 -d'v' | cut -f1 -d'"'
  register: version
  changed_when: false

- name: "Latest version of dive:"
  debug:
    var: version.stdout

- name: "Set fact with latest version of dive"
  ansible.builtin.set_fact:
    dive_version: "{{ version.stdout }}"
