---
- name: Get installed version of dive
  become: true
  become_user: "{{ user_name }}"
  shell: dive version | awk '{print $2}'
  register: installed_dive_version
  changed_when: false
  ignore_errors: true
  args:
    warn: off

- name: "Installed version of dive:"
  debug:
    var: installed_dive_version.stdout

- include_tasks: get_latest_version.yml
  when: dive_version is not defined

- include_tasks: install.yml
  when: installed_dive_version.stdout != dive_version
