---
- name: Get installed version of dive
  become: true
  become_user: "{{ user_name }}"
  shell: dive version | awk '{print $2}'
  register: installed_dive_version
  changed_when: false
  ignore_errors: true

- name: "Installed version of dive:"
  debug:
    var: installed_dive_version.stdout

- ansible.builtin.include_tasks: get_latest_version.yaml
  when: dive_version is not defined

- ansible.builtin.include_tasks: install.yaml
  when: installed_dive_version.stdout != dive_version
