---
- name: Directory for istioctl
  file:
    path: /tmp/istioctl
    state: directory

- name: Download istioctl binary
  get_url:
    url: "https://github.com/istio/istio/releases/download/{{ istioctl_version }}/istioctl-{{ istioctl_version }}-linux-{{ package_name }}.tar.gz"
    dest: /tmp/istioctl/istioctl.tar.gz

- name: Unarchive a file that is already on the remote machine
  unarchive:
    src: /tmp/istioctl/istioctl.tar.gz
    dest: /tmp/istioctl
    remote_src: yes

- name: Copy istioctl
  copy:
    src: "/tmp/istioctl/istioctl"
    dest: "/usr/local/bin/istioctl"
    remote_src: true
    mode: 0755
    owner: root
    group: root
