---
- name: Get installed version
  become: true
  become_user: "{{ user_name }}"
  ansible.builtin.shell: stern -v | grep -i version | awk '{print $2}'
  register: installed_stern_version
  changed_when: false
  ignore_errors: true

- name: "Installed version of stern:"
  debug:
    var: installed_stern_version.stdout

- ansible.builtin.include_tasks: get_latest_version.yaml
  when: stern_version is not defined

- ansible.builtin.include_tasks: install.yaml
  when: installed_stern_version.stdout != stern_version
