---
install_path: "/opt/adguardhome"

adguard_home_clean: false

adguard_home_user: testuser
adguard_home_password: pass_tes1
adguard_home_templates_path: templates

dhcp:
  - ansible.builtin.hostname: sony-ps5
    mac: 5c:96:66:2a:5a:ad
    ip: 192.168.1.41
  - ansible.builtin.hostname: xbox-one-x
    mac: 28:16:a8:ca:fa:61
    ip: 192.168.1.43

private_dns_entries:
  - source: test.com
    destination: 192.168.1.10
  - source: test2.com
    destination: 192.168.1.11
