---
- name: "Create {{ openvpn_pull_client_config_path }}"
  file:
    path: "{{ openvpn_pull_client_config_path }}"
    state: directory
  delegate_to: localhost
  become: false

- name: "Download client certs"
  fetch:
    src: "{{ item.path }}/{{ item.name }}"
    dest: "{{ openvpn_pull_client_config_path }}/{{ item.name }}"
    flat: true
  with_items:
    - path: "{{ openvpn_ca_cert_path }}"
      name: "ca.crt"
    - path: "{{ openvpn_client_cert_path }}/{{ openvpn_pull_client_name }}"
      name: "client.crt"
    - path: "{{ openvpn_client_cert_path }}/{{ openvpn_pull_client_name }}"
      name: "client.pem"
    - path: "{{ openvpn_ssl_path }}"
      name: "tls.key"

- name: Add client openvpn config file
  ansible.builtin.template:
    src: client.conf.j2
    dest: "{{ openvpn_pull_client_config_path }}/client.conf"
  delegate_to: localhost
  become: false
