---
- name: Get latest version
  ansible.builtin.shell: curl -Is https://github.com/terraform-linters/tflint/releases/latest | grep -i 'location:' | cut -f2 -d'v' | cut -f1 -d'"'
  register: version
  changed_when: false

- name: "Latest version of tflint:"
  debug:
    var: version.stdout

- name: "Set fact with latest version of tflint"
  ansible.builtin.set_fact:
    tflint_version: "{{ version.stdout }}"
