{% raw %}
# https://github.com/blind-oracle/zabbix-sensors
# Sensors
UserParameter=sensors,/etc/zabbix/scripts/sensors.py

# Sensors
UserParameter=discovery.sensor,/etc/zabbix/scripts/discovery.sensor

# https://github.com/pfoo/zabbix-mdraid/blob/master/Template%20MD%20RAID.yaml
# Soft RAID, MD RAID
UserParameter=mdraid.discovery,ls /sys/class/block/ | awk 'BEGIN{printf "{\"data\":["}; /^md[0-9]+$/ {printf c"{\"{#MDNAME}\":\""$1"\"}";c=","}; END{print "]}"}' 2>/dev/null
UserParameter=mdraid.disks[*],cat /sys/block/$1/md/raid_disks
UserParameter=mdraid.sync_status[*],cat /sys/block/$1/md/sync_action
UserParameter=mdraid.degraded[*],cat /sys/block/$1/md/degraded
UserParameter=mdraid.sync_speed[*],echo $(($(cat /sys/block/$1/md/sync_speed | sed s/none/0/g)*1024))
UserParameter=mdraid.level[*],cat /sys/block/$1/md/level
UserParameter=mdraid.state[*],cat /sys/block/$1/md/array_state
{% endraw %}
