---
- name: Get latest version of terraform_docs
  ansible.builtin.shell: curl -Is https://github.com/terraform-docs/terraform-docs/releases/latest | grep -i 'location:' | cut -f2 -d'v' | cut -f1 -d'"'
  register: version
  changed_when: false

- name: "Latest version of terraform_docs:"
  debug:
    var: version.stdout

- name: "Set fact with latest version of terraform_docs"
  set_fact:
    terraform_docs_version: "{{ version.stdout }}"
