---
- name: Get installed version
  become: true
  become_user: "{{ user_name }}"
  ansible.builtin.shell: terraform-docs version | awk '{print $3}' | cut -f2 -d'v'
  register: installed_terraform_docs_version
  changed_when: false
  ignore_errors: true

- name: "Installed version of terraform_docs:"
  debug:
    var: installed_terraform_docs_version.stdout

- ansible.builtin.include_tasks: get_latest_version.yaml
  when: terraform_docs_version is not defined

- ansible.builtin.include_tasks: install.yaml
  when: installed_terraform_docs_version.stdout != terraform_docs_version
