# https://kierkowski.com/huawei-e8278-e3372-zabawa-z-api-i-zmiana-czestotliwosci-oraz-trybu-pracy/
# https://eko.one.pl/forum/viewtopic.php?id=14653
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/uri_module.html
# https://github.com/HSPDev/Huawei-E5180-API
# http://forum.jdtech.pl/Watek-hilink-api-dla-urzadzen-huawei
---
# - name: Install dependencies
#   pip:
#     name: "{{ item }}"
#     state: present
#   loop:
#     - xmltodict

- import_tasks: login.yml

# - import_tasks: get-net-mode.yml
# - import_tasks: device-status.yml
# - import_tasks: traffic-status.yml

- include_tasks: "{{ huawei_dynamic_task }}"
  when: huawei_dynamic_task is defined
