# ---
# {% for i in home_assistant.mqtt.ikea.button %}
# - name: ikea_button_state_{{ i.name }}
#   state_topic: "tele/{{ home_assistant.mqtt.zigbee_coordinator_base_topic }}/ikea_button_{{ i.name }}/SENSOR"
#   value_template: >
#     {% raw %}{% if value_json['ZbReceived']{% endraw %}['ikea_button_{{ i.name }}']['Power'] == 2 %}
#       Click
#     {% raw %}{% elif value_json['ZbReceived']{% endraw %}['ikea_button_{{ i.name }}']['Power'] == 1 %}
#       Double-Click
#     {% raw %}{% elif value_json['ZbReceived']{% endraw %}['ikea_button_{{ i.name }}']['Power'] == 0 %}
#       Hold
#     {% raw %}{% else %}
#       None
#     {% endif %}{% endraw +%}
#   availability_topic: "tele/{{ home_assistant.mqtt.zigbee_coordinator_base_topic }}/LWT"
#   payload_available: "Online"
#   payload_not_available: "Offline"
#   qos: 0
#   expire_after: 1
# - name: ikea_button_battery_percentage_{{ i.name }}
#   state_topic: "tele/{{ home_assistant.mqtt.zigbee_coordinator_base_topic }}/ikea_button_{{ i.name }}/SENSOR"
#   value_template: >
#     {% raw %}{% if value_json['ZbReceived']{% endraw %}['ikea_button_{{ i.name }}']['BatteryPercentage'] > 0 %}
#       {% raw %}{{ value_json['ZbReceived']{% endraw %}['ikea_button_{{ i.name }}']['BatteryPercentage'] }}
#     {% raw %}{% else %}
#       {{ states(entity_id) }}
#     {% endif %}{% endraw +%}
#   availability_topic: "tele/{{ home_assistant.mqtt.zigbee_coordinator_base_topic }}/LWT"
#   payload_available: "Online"
#   payload_not_available: "Offline"
#   qos: 0
#   device_class: "battery"
#   expire_after: 86400
#   unit_of_measurement: '%'
# - name: ikea_button_battery_voltage_{{ i.name }}
#   state_topic: "tele/{{ home_assistant.mqtt.zigbee_coordinator_base_topic }}/ikea_button_{{ i.name }}/SENSOR"
#   value_template: >
#     {% raw %}{% if value_json['ZbReceived']{% endraw %}['ikea_button_{{ i.name }}']['BatteryVoltage'] > 0 %}
#       {% raw %}{{ value_json['ZbReceived']{% endraw %}['ikea_button_{{ i.name }}']['BatteryVoltage'] }}
#     {% raw %}{% else %}
#       {{ states(entity_id) }}
#     {% endif %}{% endraw +%}
#   availability_topic: "tele/{{ home_assistant.mqtt.zigbee_coordinator_base_topic }}/LWT"
#   payload_available: "Online"
#   payload_not_available: "Offline"
#   qos: 0
#   device_class: "voltage"
#   expire_after: 86400
# {% endfor %}

# 0x4643

# Dimmer click down

# Topic: tele/tasmota_10B490/SENSORQoS: 0
# {"ZbReceived":{"0x4643":{"Device":"0x4643","Name":"IkeaButton","0008!02":"012B0500","DimmerStepDown":43,"Endpoint":1,"Group":17955,"LinkQuality":72}}}

# Dimmer down keep pressing

# Topic: tele/tasmota_10B490/SENSORQoS: 0
# {"ZbReceived":{"0x4643":{"Device":"0x4643","Name":"IkeaButton","0008!01":"0153","DimmerMove":1,"Endpoint":1,"Group":17955,"LinkQuality":69}}}
# 2023-04-16 18:54:11:807

# Topic: tele/tasmota_10B490/SENSORQoS: 0
# {"ZbReceived":{"0x4643":{"Device":"0x4643","Name":"IkeaButton","0008!03":"","DimmerStop":true,"Endpoint":1,"Group":17955,"LinkQuality":72}}}

# Dimmer up keep pressing

# Topic: tele/tasmota_10B490/SENSORQoS: 0
# {"ZbReceived":{"0x4643":{"Device":"0x4643","Name":"IkeaButton","0008!05":"0053","DimmerMove":0,"Endpoint":1,"Group":17955,"LinkQuality":76}}}
# 2023-04-16 18:55:12:309

# Topic: tele/tasmota_10B490/SENSORQoS: 0
# {"ZbReceived":{"0x4643":{"Device":"0x4643","Name":"IkeaButton","0008!07":"","DimmerStop":true,"Endpoint":1,"Group":17955,"LinkQuality":76}}}


# Dimmer up click

# Topic: tele/tasmota_10B490/SENSORQoS: 0
# {"ZbReceived":{"0x4643":{"Device":"0x4643","Name":"IkeaButton","0008!06":"002B0500","DimmerUp":true,"Endpoint":1,"Group":17955,"LinkQuality":76}}}
