---
- name: Get latest version
  ansible.builtin.shell: curl -Is https://github.com/hashicorp/terraform/releases/latest | grep -i 'location:' | cut -f2 -d'v' | cut -f1 -d'"'
  register: version
  changed_when: false

- name: "Latest version of terraform:"
  debug:
    var: version.stdout

- name: "Set fact with latest version of terraform"
  set_fact:
    terraform_version: "{{ version.stdout }}"
