---
- name: Adding modules to initramfs
  lineinfile:
    path: /etc/dracut.conf
    line: 'add_drivers+="hid_apple"'
  register: dracut_conf

    # line: 'add_drivers+="hid_apple facetimehd"'

- name: Rebuild initramfs
  ansible.builtin.shell: dracut -fv
  when: dracut_conf.changed
