---
# - name: Get acpi wakeup devices
#   ansible.builtin.shell: cat /proc/acpi/wakeup | grep enabled | grep S3 | awk '{print $1,$4}'
#   register: acpi_wakeup

# - ansible.builtin.set_fact:
#     acpi_wakeup_device: "{{ acpi_wakeup.stdout.split(' ') }}"

# - name: Disable ACPI S3 wakeup on XHC1
#   blockinfile:
#     path: /etc/udev/rules.d/90-xhc_sleep.rules
#     mode: 0644
#     create: true
#     block: |
#       # disable wake from S3 on XHC1
#       SUBSYSTEM=="pci", KERNEL=="0000:00:14.0", ATTR{device}=="0x9c31" RUN+="/bin/sh -c '/bin/echo disabled > /sys$env{DEVPATH}/power/wakeup'"

- name: Copy suspend-fix systemd unit
  ansible.builtin.copy:
    src: "suspend-fix.service"
    dest: "/etc/systemd/system/suspend-fix.service"
    mode: 0755

- name: just force systemd to reread configs (2.4 and above)
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and start suspend-fix
  ansible.builtin.service:
    name: suspend-fix.service
    enabled: true
    # state: started
