---
- name: Download argocd binary
  ansible.builtin.get_url:
    url: "https://github.com/argoproj/argo-cd/releases/download/v{{ argocd_version }}/argocd-linux-{{ architecture_common_name }}"
    dest: "/usr/local/bin/argocd"
    mode: 0755
    owner: root
    group: root
