section: screens
  mikeePC-F33:
  WinLap:
    meta = altgr
    altgr = shift
end

section: links
# iMac is to the right of Desktop1
# Laptop is to the left of Desktop1
  mikeePC-F33:
    left  = WinLap

# Desktop1 is to the right of Laptop
  WinLap:
    right = mikeePC-F33
end
