---
- name: "ZSH autocomplete"
  become: true
  become_user: "{{ item }}"
  ansible.builtin.git:
    repo: 'https://github.com/zsh-users/zsh-autosuggestions'
    dest: "~/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    update: true
  with_items:
    - "{{ user_name }}"
    - root

- name: "ZSH Syntax Highlighting"
  become: true
  become_user: "{{ item }}"
  ansible.builtin.git:
    repo: 'https://github.com/zsh-users/zsh-syntax-highlighting'
    dest: "~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
    update: true
  with_items:
    - "{{ user_name }}"
    - root

- name: "Powerlevel10K theme"
  become: true
  become_user: "{{ item }}"
  ansible.builtin.git:
    repo: 'https://github.com/romkatv/powerlevel10k'
    dest: "~/.oh-my-zsh/custom/themes/powerlevel10k"
    update: true
  with_items:
    - "{{ user_name }}"
    - root

- name: "p10k config"
  copy:
    src: templates/p10k.zsh.j2
    dest: "~{{ item }}/.p10k.zsh"
    owner: "{{ item }}"
    backup: true
    mode: 0644
  with_items:
    - "{{ user_name }}"
    - root

- name: "oh-my-zsh config"
  ansible.builtin.template:
    src: oh_my_zsh_zshrc.j2
    dest: "~{{ item }}/.zshrc"
    owner: "{{ item }}"
    backup: true
    mode: 0644
  with_items:
    - "{{ user_name }}"
    - root

# Fixing apt-get fzf package
- name: Download fzf key-bindings
  get_url:
    url: "https://raw.githubusercontent.com/junegunn/fzf/master/shell/key-bindings.zsh"
    dest: /usr/share/doc/fzf/examples/key-bindings.zsh
  when: ansible_distribution == "Ubuntu"

- name: "Download zsh-completion"
  become: true
  become_user: "{{ item }}"
  ansible.builtin.git:
    repo: 'https://github.com/zsh-users/zsh-completions'
    dest: "~/.oh-my-zsh/custom/plugins/zsh-completions"
    update: true
  with_items:
    - "{{ user_name }}"
    - root

- name: "Download fzf-tab-completion"
  become: true
  become_user: "{{ item }}"
  ansible.builtin.git:
    repo: 'https://github.com/lincheney/fzf-tab-completion.git'
    dest: "~/.oh-my-zsh/custom/plugins/fzf-tab-completion"
    update: true
  with_items:
    - "{{ user_name }}"
    - root

- name: "Download fzf-tab"
  become: true
  become_user: "{{ item }}"
  ansible.builtin.git:
    repo: 'https://github.com/Aloxaf/fzf-tab'
    dest: "~/.oh-my-zsh/custom/plugins/fzf-tab"
    update: true
  with_items:
    - "{{ user_name }}"
    - root
