---
- name: "Update oh-my-zsh"
  ansible.builtin.shell: git pull --rebase --stat origin master | head -n1
  become: true
  become_user: "{{ item }}"
  register: omz_upd_output
  changed_when: omz_upd_output.stdout != 'Already up to date.'
  args:
    executable: /bin/zsh
    chdir: "~/.oh-my-zsh"
  tags:
    - update
  loop:
    - "{{ user_name }}"
    - "root"
