---
- name: Ensure install dir exists
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ install_path }}"
    - "{{ install_path }}/confdir"
    - "{{ install_path }}/workdir"

- name: Configure docker-compose file
  template:
    src: "{{ item }}"
    dest: "{{ install_path }}/{{ item }}"
    mode: 0664
    backup: true
  loop:
    - docker-compose.yaml

- name: Configure confdir/AdGuardHome.yaml file
  template:
    src: "{{ adguard_home_templates_path }}/{{ item }}"
    dest: "{{ install_path }}/{{ item }}"
    mode: 0664
    backup: true
  loop:
    - confdir/AdGuardHome.yaml

# - ansible.builtin.import_tasks: config.yaml

- name: Pull Docker image using docker-compose
  ansible.builtin.command: docker-compose pull
  changed_when: pull_result.stderr_lines | length > 2
  register: pull_result
  args:
    chdir: "{{ install_path }}"

- name: Run using docker-compose
  ansible.builtin.command: docker-compose up -d
  changed_when: up_result.stderr_lines | length > 2
  register: up_result
  args:
    chdir: "{{ install_path }}"

# - name: Restart using docker-compose
#   ansible.builtin.command: docker-compose restart
#   args:
#     chdir: "{{ install_path }}"
