---
- name: Check docker-compose executable is present
  shell: "which docker-compose"
  register: docker_compose_result
  ignore_errors: true
  changed_when: false

- fail:
    msg: "docker-compose is not found! You need to install it first."
  when: docker_compose_result.rc != 0

- name: Ensure passlib is installed
  delegate_to: localhost
  pip:
    name:
      - passlib
    state: present

- ansible.builtin.include_tasks: cleanup.yaml
  when: adguard_home_clean

- ansible.builtin.import_tasks: install.yaml

- ansible.builtin.import_tasks: dhcp.yaml
