---
- name: Configure config templates
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "/etc/config/"
    mode: 0644
    backup: true
  with_fileglob:
    - "{{ playbook_dir }}/../../ansible-ops-private/templates/openwrt/{{ inventory_hostname.split('_')[1] }}/*"
  register: config_change

- name: refresh config
  ansible.builtin.shell: uci commit
  when: config_change.changed

# Handles ipv6 related tasks
- name: Disable service odhcpd, in all cases
  community.general.openwrt_init:
    name: odhcpd
    enabled: false
    state: stopped
