---
- name: Ensure install dir exists
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ install_path }}/config/custom_components"
    - "{{ install_path }}/config/www"
    - "{{ install_path }}/config/git"

- name: Ensure install dir exists for home_assistant_custom_lovelace_plugins
  ansible.builtin.file:
    path: "{{ install_path }}/config/git/{{ item.name }}"
    state: directory
  loop: "{{ home_assistant_custom_lovelace_plugins }}"

- name: "Pull custom components via git"
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ install_path }}/config/git/{{ item.name }}"
    update: true
    version: "{{ item.version | default('HEAD') }}"
  when: item.release is not defined or item.release != true
  with_items:
    - "{{ home_assistant_custom_components }}"
    - "{{ home_assistant_custom_lovelace_plugins }}"

# https://github.com/PiotrMachowski/lovelace-xiaomi-vacuum-map-card/releases/download/v2.2.2/xiaomi-vacuum-map-card.js
- name: "Pull custom components via release"
  get_url:
    url: "{{ item.repo }}/releases/download/{{ item.version }}/{{ item.entity_name }}"
    dest: "{{ install_path }}/config/git/{{ item.name }}/{{ item.entity_name }}"
  when: item.release is defined and item.release == true
  with_items:
    - "{{ home_assistant_custom_components }}"
    - "{{ home_assistant_custom_lovelace_plugins }}"

- name: Create a symbolic link custom_components
  ansible.builtin.file:
    src: "../git/{{ item.name }}/custom_components/{{ item.name }}"
    dest: "{{ install_path }}/config/custom_components/{{ item.name }}"
    state: link
  loop: "{{ home_assistant_custom_components }}"

- name: Copy www
  copy:
    src: "{{ install_path }}/config/git/{{ item.name }}/{{ item.entity_name }}"
    dest: "{{ install_path }}/config/www/{{ item.entity_name }}"
    remote_src: true
  loop: "{{ home_assistant_custom_lovelace_plugins }}"
  when: item.zip_mode is not defined or item.zip_mode == false

- name: Unzip www
  ansible.builtin.unarchive:
    src: "{{ install_path }}/config/git/{{ item.name }}/{{ item.entity_name }}"
    dest: "{{ install_path }}/config/www/"
    remote_src: true
  loop: "{{ home_assistant_custom_lovelace_plugins }}"
  when: item.zip_mode is defined and item.zip_mode == true
