
Prebuilt openssl.cnf
Info, with commands required beginning on Line 430
Certificate Authorities & Intermediate CAs
Self-signed CA
keyUsage: cRLSign, digitalSignature, keyCertSign
Should not contain any other KUs or EKUs
V3 Profile:
[ v3_ca ]
basicConstraints        = critical, CA:TRUE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always, issuer:always
keyUsage                = critical, cRLSign, digitalSignature, keyCertSign
subjectAltName          = @alt_ca
Intermediate CA
keyUsage: cRLSign, digitalSignature, keyCertSign
Should not contain any other KUs or EKUs
V3 Profile:
[ v3_ica ]
basicConstraints        = critical, CA:TRUE, pathlen:1
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always, issuer:always
keyUsage                = critical, cRLSign, digitalSignature, keyCertSign
subjectAltName          = @alt_ica
Where pathlen: is equal to the number of CAs/ICAs it can sign
Cannot sign other CAs/ICAs if pathlen: is set to 0
Non-CA Certificates
VPN Server
keyUsage: nonRepudiation, digitalSignature, keyEncipherment, keyAgreement
V3 Profile:
[ v3_vpn_server ]
basicConstraints        = critical, CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always, issuer:always
keyUsage                = critical, nonRepudiation, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage        = critical, serverAuth
subjectAltName          = @alt_vpn_server
VPN Client
keyUsage: nonRepudiation, digitalSignature, keyEncipherment
V3 Profile:
[ v3_vpn_client ]
basicConstraints        = critical, CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always, issuer:always
keyUsage                = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage        = critical, clientAuth
subjectAltName          = @alt_vpn_client
