[defaults]

callbacks_enabled = timer, profile_tasks
retry_files_enabled = False
collections_path = ../collections:~/.ansible/collections:/usr/share/ansible/collections
roles_path = ../collections/ansible_collections/mikeeq/apps/roles:../collections/ansible_collections/mikeeq/apps_desktop/roles:../collections/ansible_collections/mikeeq/apps_server/roles:../collections/ansible_collections/mikeeq/servers/roles:../collections/ansible_collections/mikeeq/machines/roles:../collections/ansible_collections/mikeeq/utils/roles
force_color = True
forks=50
pipelining = True
#local_tmp= ~/.ansible/tmp

# stdout_callback=debug
# stderr_callback=debug
