[defaults]

callbacks_enabled = timer, profile_tasks
retry_files_enabled = False
timeout = 60
collections_path = ../.ansible/collections:../collections
roles_path = ../.ansible/roles:../roles
#roles_path = ../collections/ansible_collections/mikeeq/apps/roles:../collections/ansible_collections/mikeeq/apps_desktop/roles:../collections/ansible_collections/mikeeq/apps_server/roles:../collections/ansible_collections/mikeeq/servers/roles:../collections/ansible_collections/mikeeq/machines/roles:../collections/ansible_collections/mikeeq/utils/roles
force_color = True
forks=50
pipelining = True
#local_tmp= ~/.ansible/tmp

# ansible-playbook wsl-ubuntu.yaml -K -e "ansible_become_flags='-H -S -p [sudo via ansible, key=%p] Password:'"
# [privilege_escalation]
# become_flags = -H -S -p "[sudo via ansible, key=%p] Password:"

# stdout_callback=debug
# stderr_callback=debug
