---
- name: Include a playbook for including arch specifc vars
  import_playbook: vars.yaml

- name: Fedora bootstrap
  hosts:
    - "{{ hosts_to_deploy | default('local') }}"
    # - mikeeClevo
  become: true
  pre_tasks:
    # - debug:
    #     var: hostvars[inventory_hostname]
    # https://github.com/geerlingguy/docker-fedora41-ansible/issues/2
    - name: TEMP | Fix due to PAM error in some upstream images
      when: (( ansible_distribution == 'Fedora' ) or ( ansible_distribution == 'Rocky' )) and ( ansible_run_in_docker is defined )
      # Explicitly don't try to become because that will trigger the broken PAM error
      # become: true
      # Bug in some upstream distros, /etc/shadow has no file perms in container image
      ansible.builtin.file:
        path: /etc/shadow
        mode: '400'
  roles:
    - pkg_mgmt/dnf
    - pkg_mgmt/flatpak
    - desktop/apps/google_chrome
    - desktop/apps/keeweb
    - apps/docker
    - apps/qemu
    - desktop/apps/terminator
    - apps/vagrant
    - apps/packer
    - desktop/gnome
    - desktop/apps/vscode
    - desktop/apps/x11docker
    - desktop/fedora
    # - apps/nordvpn

- name: Include a playbook for generic-core provisioning
  import_playbook: generic-core.yaml

- name: Include a playbook for generic provisioning
  import_playbook: generic.yaml
