---
- name: Fedora on Clevo
  ansible.builtin.import_playbook: fedora.yml
  vars:
    hosts_to_deploy: clevoF35

- name: Update all clevo vms and host
  hosts: clevo
  become: true
  tasks:
    - name: Upgrade all packages
      ansible.builtin.dnf:
        name: "*"
        state: latest
        update_cache: true

    - name: Check if reboot required
      stat:
        path: /var/run/reboot-required
      register: reboot_required_file

    - name: Reboot if required
      reboot:
      when:
        - reboot_required_file.stat.exists == true
        - inventory_hostname != "clevoF35"

    - name: Autoremove unneeded packages installed as dependencies
      ansible.builtin.dnf:
        autoremove: yes

- name: Set variables on an imported playbook
  ansible.builtin.import_playbook: generic-core.yml
  vars:
    hosts_to_deploy: vms

- name: Provision DNS1
  hosts:
    - dns1
  become: true
  roles:
    - servers/network-vms
    - apps/docker
    - servers/apps/coredns
    - servers/apps/letsencrypt-coredns

- name: Provision DNS2
  hosts:
    - dns2
  become: true
  roles:
    - servers/network-vms
    - apps/docker

- name: Provision clevoF35
  hosts:
    - clevoF35
  become: true
  roles:
    - servers/apps/nginx
    - servers/apps/home-assistant
    - servers/apps/jenkins
