---
- name: Check if kubectl is a symlink
  stat:
    path: /usr/local/bin/kubectl
  register: kubectl_symlink

- name: Remove linked kubectl, from docker-desktop
  file:
    path: /usr/local/bin/kubectl
    state: absent
  when: kubectl_symlink.stat.islnk is not defined

- name: Add specified repository into sources list
  ansible.builtin.apt_repository:
    repo: ppa:deadsnakes/ppa
    state: present

- name: Update all packages to the latest version
  apt:
    upgrade: dist
    update_cache: true

# - name: Install python3.11 package
#   apt:
#     name: "python3.11"
#     state: present

- name: Install packages
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - "[{{ generic_pkgs }}]"
    - "[{{ apt_pkgs }}]"
