---
- name: Check if kubectl is a symlink
  ansible.builtin.stat:
    path: /usr/local/bin/kubectl
  register: kubectl_symlink

- name: Remove linked kubectl, from docker-desktop
  ansible.builtin.file:
    path: /usr/local/bin/kubectl
    state: absent
  when: kubectl_symlink.stat.islnk is not defined

- name: Add specified repository into sources list
  ansible.builtin.apt_repository:
    repo: ppa:deadsnakes/ppa
    state: present

- name: Update all packages to the latest version
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true

# - name: Install python3.11 package
#   ansible.builtin.apt:
#     name: "python3.11"
#     state: present

- name: Install packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop:
    - "{{ generic_pkgs }}"
    - "{{ apt_pkgs }}"
