# https://docs.docker.com/compose/compose-file/compose-file-v3/
---
version: '3.8'
services:
  adguard:
    container_name: adguard
    image: adguard/adguardhome:latest
    # environment:
      # WEBPASSWORD: 'set a secure password here or it will be random'
    # Volumes store your data between container upgrades
    volumes:
      - './workdir:/opt/adguardhome/work'
      - './config:/opt/adguardhome/conf'
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    # cap_add:
    #   - NET_ADMIN
    network_mode: "host"
    restart: always
    # expose:
    #   - '3000'
    #   - '53'
    #   - '80'
    # ports:
    #   - '53:53'
    #   - '3000:3000'
    #   - '80:80'

# adguard web starts on 3000 port
