---
- name: Download centos image
  get_url:
    url: "{{ centos_qcow2_url }}"
    dest: "{{ image_path }}"
    mode: 0640

- name: Download deps
  shell: yum update -y; yum install -y libvirt libguestfs-tools virt-manager; systemctl start libvirtd;
