---
- name: Get installed version
  shell: helm version -c | cut -d'v' -f3 | cut -f1 -d'"'
  register: installed_helm_version
  changed_when: false
  ignore_errors: true
  args:
    warn: off

- name: "Installed version of helm:"
  debug:
    var: installed_helm_version.stdout

- include_tasks: get_latest_version.yml
  when: helm_version is not defined

- include_tasks: install.yml
  when: installed_helm_version.stdout != helm_version
