---
# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - main
      # - feature/*
  pull_request:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-fedora:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: "Runner storage cleanup"
        run: sudo ./.github/cleanup-runner.sh

      - name: "Build fedora-systemd image..."
        run: docker build -t fedora_systemd:latest .

      - name: "Run Ansible in Docker..."
        run: scripts/run_ansible_in_docker.sh

  build-fedora-arm64:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04-arm

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: "Runner storage cleanup"
        run: sudo ./.github/cleanup-runner.sh

      - name: "Build fedora-systemd image..."
        run: docker build -t fedora_systemd:latest .

      - name: "Run Ansible in Docker..."
        run: scripts/run_ansible_in_docker.sh

  build-ubuntu:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: "Runner storage cleanup"
        run: sudo ./.github/cleanup-runner.sh

      - name: "Build ubuntu image..."
        run: docker build -f Dockerfile-ubuntu -t ubuntu-aow:latest .

      - name: "Run Ansible in Docker..."
        run: ANSIBLE_PLAYBOOK=wsl-ubuntu.yml DOCKER_IMAGE=ubuntu-aow scripts/run_ansible_in_docker.sh

      # - name: "YamlLint"
      #   run: |
      #     docker run --rm -v $(pwd):/repo -t alpine:latest /bin/sh -c '
      #       cd /repo
      #       apk add --no-cache python3
      #       pip3 install yamllint
      #       yamllint .
      #     '
      # - name: "ShellCheck"
      #   run: |
      #     docker run --rm -v $(pwd):/repo -t alpine:latest /bin/sh -c '
      #       cd /repo
      #       apk add --no-cache shellcheck bash
      #       shellcheck ./*.sh
      #     '
